API_WORKS_URL_IOS=
API_WORKS_URL_ANDROID=
API_WORKS_URL_PRODUCTION=

GOOGLE_MAP_KEY=

GOOGLE_CLIENT_ID_ANDROID=
GOOGLE_REDIRECT_URL_ANDROID=

GOOGLE_CLIENT_ID_IOS=
GOOGLE_REDIRECT_URL_IOS=

MODE=production
# production
# develop